$primary-purple: #871fd1;
$dark-purple: #4b0082;
$light-purple: #d8b4fe;
$background-color: #f3e8ff;
$text-color: #2e003e;
$white: #ffffff;
$hover-purple: darken($primary-purple, 10%);
$active-tab-bg: #ece0ff;
